
.wrapper{
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.promo {
  &__item {
    height: 440px;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
    }
    &__link {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 20px 30px;
      background-color: $background-item;

      .more {
        font-weight: 400;
        font-size: 30px;
        text-transform: none;

        &:after {
          top: 8px;
        }
      }
    }
    &__hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

  }
}

//.container2{
//  margin: 50px 0;
//  padding: 0 15px;
//  &__row{
//    margin: 0 -15px;
//    @media (max-width: 940px){
//      box-sizing: border-box;
//      padding: 0 10px;
//    }
//    &__itemSmall{
//      height: 440px;
//      max-width: 440px;
//      width: 100%;
//      padding: 0;
//      margin: 15px 0;
//      //@media (max-width: 991.98px) and (min-width: 922px) {
//      //  max-width: 94vw;
//      //}
//      //@media (max-width: 921.98px){
//      //  max-width: 100%;
//      //}
//      @media (max-width: 991.98px) {
//        max-width: calc(100% - 30px);
//      }
//      //@include media-breakpoint-down(md) {
//      //  max-width: 100%;
//      //}
//    }
//    &__itemBig{
//      height: 440px;
//      max-width: 900px;
//      width: 100%;
//      padding: 0;
//      margin: 15px 0;
//      @media (max-width: 991.98px) {
//        max-width: calc(100% - 30px);
//      }
//      &__types{
//        position: absolute;
//        height: 100%;
//        width: 100%;
//        padding-top: 138px;
//        padding-left: 39px;
//        background-color: transparent;
//        transition: background-color 1s;
//        &:hover{
//          background-color: $background-item;
//        }
//        &:hover h1{
//          transform: translate(0,0);
//          opacity: 1;
//        }
//        &:hover p{
//          transform: translate(0,0);
//          opacity: 1;
//        }
//        &:hover .transform-know-more{
//          transform: translate(0,0);
//          opacity: 1;
//        }
//        h1 {
//          width: 174px;
//          height: 39px;
//          color: #ffffff;
//          font-family: "Segoe UI";
//          font-size: 30px;
//          font-weight: 400;
//          transform: translate(450px, 0);
//          opacity: 0;
//          transition: transform 0.8s ease, opacity 0.8s ease;
//          @media (max-width: 860px) {
//            transform: translate(0,-100px);
//          }
//        }
//        p{
//          max-width: 304px;
//          width: 100%;
//          height: 30px;
//          color: #ffffff;
//          font-family: "Segoe UI";
//          font-size: 18px;
//          font-weight: 400;
//          line-height: 30px;
//          margin: 30px 0;
//          transform: translate(450px, 0);
//          opacity: 0;
//          transition: transform 0.8s ease, opacity 0.8s ease;
//          transition-delay: 0.15s;
//          @media (max-width: 860px) {
//            transform: translate(-100px,0);
//            transition-delay: 0s;
//          }
//        }
//      }
//    }
//  }
//}
.containerH1-margin-block{
  margin: 50px 0 0;
  @include mobile-all() {
    margin: 25px 0 0;
  }
}
.containerH1-itemSmall{
  height: 440px;
  max-width: 440px;
  width: 100%;
  padding: 0;
  margin: 15px 0;
  @media (max-width: 1200px){
    max-width: 100%;
  }
  //&:hover &__types{
  //  background-color: $background-item;
  //}
  //&:hover &__types h1{
  //  transform: translate(0,0);
  //  opacity: 1;
  //}
  //&:hover &__types p{
  //  transform: translate(0,0);
  //  opacity: 1;
  //}
  //&:hover &__types .transform-know-more-itemSmall{
  //  transform: translate(0,0);
  //  opacity: 1;
  //}
  //
  //&:active &__types{
  //  background-color: $background-item;
  //}
  //&:active &__types h1{
  //  transform: translate(0,0);
  //  opacity: 1;
  //}
  //&:active &__types p{
  //  transform: translate(0,0);
  //  opacity: 1;
  //}
  //&:active &__types .transform-know-more-itemSmall{
  //  transform: translate(0,0);
  //  opacity: 1;
  //}

  &:focus &__types{
    background-color: $background-item;
  }
  &:focus &__types h1{
    transform: translate(0,0);
    opacity: 1;
  }
  &:focus &__types p{
    transform: translate(0,0);
    opacity: 1;
  }
  &:focus &__types .transform-know-more-itemSmall{
    transform: translate(0,0);
    opacity: 1;
  }
  &__types{
    position: absolute;
    z-index: 0;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    padding-top: 138px;
    padding-left: 39px;
    background-color: transparent;
    transition: background-color 1s;
    @include mobile-all() {
      padding-left: 10px;
    }
    h1 {
      //max-width: 250px;
      width: 100%;
      height: 39px;
      color: #ffffff;
      font-family: $font-family-base;
      font-size: 30px;
      font-weight: 400;
      transform: translate(0, 400px);
      opacity: 0;
      transition: all 0.6s ease;
      transition-delay: 0.05s;
      @media (max-width: 860px) {
        transform: translate(0,-100px);
      }
      @include mobile-all() {
        //width: calc(100% - 25px);
        height: auto;
      }
      @include mobile-all() {
      }
    }

    p{
      max-width: 304px;
      width: 100%;
      height: 30px;
      color: #ffffff;
      font-family: $font-family-base;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      margin: 10px 0;
      transform: translate(0, 400px);
      opacity: 0;
      transition: transform 0.6s ease, opacity 0.6s ease;
      transition-delay: 0.1s;
      @media (max-width: 860px) {
        transform: translate(-100px,0);
        transition-delay: 0s;
      }
      @include mobile-all() {
        font-size: 16px;
        width: calc(100% - 10px);
      }
    }
    &_about-history-text{
      @include mobile-all() {
        margin-top: 50px;
      }
    }
  }
}
  //@media (max-width: 991.98px) and (min-width: 922px) {
  //  max-width: 94vw;
  //}
  //@media (max-width: 921.98px){
  //  max-width: 100%;
  //}
  //@include media-breakpoint-down(md) {
  //  max-width: 100%;
  //}
//}
.containerH1-itemBig{
  height: 440px;
  //max-width: 900px;
  width: 100%;
  padding: 0;
  margin: 15px 0;
  @media (max-width: 1200px){
    max-width: 100%;
  }
  &:hover &__types{
    background-color: $background-item;
  }
  &:hover &__types h1{
    transform: translate(0,0);
    opacity: 1;
  }
  &:hover &__types p{
    transform: translate(0,0);
    opacity: 1;
  }
  &:hover &__types .transform-know-more{
    transform: translate(0,0);
    opacity: 1;
  }

  &__types{
    position: absolute;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    padding-top: 138px;
    padding-left: 39px;
    background-color: transparent;
    transition: background-color 1s;
    @include mobile-all() {
      padding-left: 10px;
    }
    //&:hover{
    //  background-color: $background-item;
    //}
    //&:hover a h1{
    //  transform: translate(0,0);
    //  opacity: 1;
    //}
    //&:hover p{
    //  transform: translate(0,0);
    //  opacity: 1;
    //}
    //&:hover .transform-know-more{
    //  transform: translate(0,0);
    //  opacity: 1;
    //}

    a{
      h1 {
        //width: 174px;
        width: calc(100% - 500px);
        height: 39px;
        color: #ffffff;
        font-family: $font-family-base;
        font-size: 30px;
        font-weight: 400;
        transform: translate(400px, 0);
        opacity: 0;
        transition: transform 0.6s ease, opacity 0.6s ease;
        @media (max-width: 860px) {
          transform: translate(0,-100px);
        }
        @include mobile-all() {
          width: calc(100% - 25px);
        }
      }
    }
    p{
      //max-width: 304px;
      width: calc(100% - 500px);
      height: 30px;
      color: #ffffff;
      font-family: $font-family-base;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      margin: 30px 0;
      transform: translate(400px, 0);
      opacity: 0;
      transition: transform 0.6s ease, opacity 0.6s ease;
      transition-delay: 0.1s;
      @media (max-width: 860px) {
        width: 100%;
        transform: translate(-100px,0);
        transition-delay: 0s;
      }
      @include mobile-all() {
        font-size: 16px;
        width: calc(100% - 25px);
      }
    }
  }
}
.aboutKitchen{
  padding-top: 15px;
}
.aboutKitchenBottom{
  margin-top: 240px;
}
.typesKitchenBottom{
  margin-top: 60px;
}
.ergonomicsBottom{
  margin-top: 80px;
}
//////////////////////////////////////////////
//Классы для JS:

.itemSmallTypesJS{
  background-color: $background-item;
}
.itemSmallTypesH1JS{
  transform: translate(0,0);
  opacity: 1;
}
.itemSmallTypesPJS{
  transform: translate(0,0);
  opacity: 1;
}
.itemSmallTransformJS{
  transform: translate(0,0);
  opacity: 1;
}

///////////////////////////////////////////////
.transform-know-more{
  transform: translate(400px, 0);
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.6s ease;
  transition-delay: 0.2s;
  @media (max-width: 860px) {
    transform: translate(0,100px);
    transition-delay: 0s;
  }
}
.transform-know-more-itemSmall{
  transform: translate(0, 400px);
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.6s ease;
  transition-delay: 0.15s;
  @media (max-width: 860px) {
    transform: translate(0,100px);
    transition-delay: 0s;
  }
}
//.company{
//  //margin-right: 37px;
//  //margin-bottom: 40px;
//  //margin: 15px 15px;
//  background-image: url("../img/main-img/compamy.jpg");
//  background-size: cover;
//  order: 1;
//  @media (max-width: 1416px) {
//    order: 2;
//  }
//}
//.ergonomics{
//  //margin-right: 37px;
//  //margin-bottom: 40px;
//  //margin: 15px 15px;
//  background-image: url("../img/main-img/services.jpg");
//  background-size: cover;
//  order: 3;
//  @media (max-width: 1416px) {
//    order: 4;
//  }
//}
//.types{
//  margin: 15px 15px;
//  background-image: url("../img/main-img/produkte.jpg");
//  background-size: cover;
//  background-color: $background-item;
//  order: 2;
//  @media (max-width: 1416px) {
//    order: 3;
//  }
//}
.know-more{
  display: flex;
  flex-direction: row;
  max-width: 225px;
  width: 100%;
  &__link{
    display: flex;
    &:hover &__img{
      transform: translateX(7px);
    }

    &__title{
      height: 30px;
      color: #ffffff;
      font-family: $font-family-base;
      font-size: 18px;
      font-weight: 700;
      line-height: 30px;
      text-transform: uppercase;
      width: 195px;
      cursor: pointer;
      margin: 0;
    }
    &__img {
      background-color: $background-icon;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      margin:0;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateX(0);
      transition: transform 0.3s ease-in-out;
      img{
        width: 18px;
        height: 18px;
      }
    }
  }
}
.itemBottom{
  position: relative;
  top: 360px;
  width: 100%;
  height:80px;
  //width: 440px;
  //height:80px;
  background-color: $background-text;
  opacity: 0.8;
  &__link{
    display: flex;
    align-items: center;
    &:hover &__img{
      transform: translateX(7px);
    }

    &__title{
      height: 39px;
      color: #ffffff;
      font-family: $font-family-base;
      font-size: 25px;
      font-weight: 400;
      margin:0 25px;
      cursor: pointer;
      @media (max-width: 455px){
        font-size: 25px;
        font-weight: 400;
        margin:0 20px;
      }
      @include mobile-all() {
        font-size: 15px;
        font-weight: 700;
        margin: 0 10px;
        padding: 8px 0;
      }
    }
    &__img{
      background-color: $background-icon;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transform: translateX(0);
      transition: transform 0.3s ease-in-out;
      img{
        width: 18px;
        height: 18px;
      }
    }
  }
}
//.itemBottomBG{
//  top: -80px;
//}
//.form {
//  display: block;
//  border: 1px solid $border-form-color;
//  opacity: 0.8;
//  max-width: 440px;
//  width: 100%;
//  max-height: 440px;
//  height: 100%;
//  order: 4;
//  text-align: center;
//  @media (max-width: 1416px) {
//    order: 1;
//  }
//  @media (max-width: 455px){
//    padding: 15px;
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//  }
//  &__title{
//    margin: 58px 15px 31px 19px;
//    text-align: center;
//    @media (max-width: 455px){
//      margin: 43px auto 31px;
//    }
//    h2{
//      font-family: "Segoe UI";
//      font-size: 25px;
//      font-weight: 700;
//      @media (max-width: 455px){
//        text-align: center;
//        font-size: 1.04rem;
//      }
//    }
//  }
//  &__input {
//    max-width: 390px;
//    width: 100%;
//    height: 45px;
//    margin: 0 auto 15px;
//    padding: 10px 12px;
//    border: 1px solid $border-form-color;
//    color: $form-input-text-color;
//    font-family: "Segoe UI";
//    font-size: 18px;
//    font-weight: 400;
//    line-height: 30px;
//    overflow: hidden;
//    float: none;
//    display: block;
//    @media (max-width: 1400px) and (min-width: 1200px){
//      max-width: 328px;
//    }
//    @media (max-width: 455px){
//      max-width: 340px;
//      width: 100%;
//      margin: 0 0 15px;
//    }
//  }
//  input[type="checkbox"]{
//    margin-left: 22px;
//    //width: 15px;
//    //height: 15px;
//    //border: 1px solid $border-form-color;
//    //color: $border-form-color;
//    vertical-align: middle;
//    opacity: 0.75;
//  }
//  &__chexbox{
//    display: inline-block;
//    float: left;
//  }
//  &__text{
//    display: inline-block;
//    max-width: 376px;
//    width: 100%;
//    margin-bottom: 0;
//    color: $form-button-text-color;
//    font-family: "Segoe UI";
//    font-size: 16px;
//    font-weight: 400;
//    line-height: 30px;
//    vertical-align: middle;
//    @media (max-width: 1400px) and (min-width: 1200px){
//      font-size: 13px;
//      max-width: 320px;
//    }
//    @media (max-width: 455px){
//      font-size: 10px;
//      letter-spacing: 0.25px;
//      text-align: center;
//    }
//  }
//  &__button{
//    max-width: 300px;
//    width: 100%;
//    margin: 20px auto 0;
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    @media (max-width: 455px){
//      margin: 20px auto 0;
//      max-width: 250px;
//    }
//    //height: 60px;
//    //border: 4px solid $border-form-btn-color;
//    //background-color: transparent;
//    //color: $red;
//    //font-family: "Segoe UI";
//    //font-size: 18px;
//    //font-weight: 700;
//    //text-transform: uppercase;
//    //cursor: pointer;
//  }
//}




//третья страница Header

.third-page{
  &__header{
    //max-width: 100vw;
    position: relative;
    width: 100%;
    //min-height: 420px;
    height: 100%;
    background-color: $background-third-header;
    display: flex;
    flex-direction: column;
    align-items: center;
    //display: block;
    //margin: 0 auto;
    padding-top: 50px;
    margin: 50px 0;
    @include mobile-all() {
      margin: 25px 0;
    }
    &__title{
      color: $white-color;
      //font-family: 'SegoeUI';
      font-size: $font-sz-xxl;
      font-weight: 600;
      //text-align: center;
      @media (max-width: 870px){
        font-size: 68px;
      }
      @media (max-width: 735px){
        font-size: 50px;
        text-align: center;
      }
      @media (max-width: 370px){
        font-size: 40px;
      }
      &::before{
        content: "";
        width: 180px;
        height: 8px;
        background-color: $white-color;
        display: block;
        margin: 0 auto;
      }
    }
    &__text{
      display: block;
      max-width: 988px;
      width: 100%;
      min-height: 83px;
      height: 100%;
      color: $white-color;
      font-family: "Segoe UI";
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      text-align: center;
      margin: 15px 0 45px;
      @media (max-width: 735px){
        font-size: 15px;
      }
      @media (max-width: 536px){
        margin: 15px 0 10px;
      }
    }
    &__link{
      display: flex;
      justify-content: center;
      margin-bottom: 62px;
    }
  }
}

//третья страница blocks

.third-block-item{
  display: flex;
  margin-bottom: 30px;
  @media (min-width: 768px) and (max-width: 1330px) {
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 728px){
    flex-direction: column;
    align-items: center;
  }
  &__img{
    //max-width: 350px;
    width: 100%;
    height: auto;
    img{
      //max-width: 350px;
      width: 100%;
      height: auto;
      //height: 321px;
      //@media (max-width: 400px){
      //  max-height: 321px;
      //  height: 100%;
      //}
    }
  }
  &__info{
    padding: 25px;
    color: $white-color;
    font-family: $font-family-base;
    //max-width: 330px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $background-third-header;
    @media (min-width: 768px) and (max-width: 1200px) {
      height: 240px;
    }
    //@media (max-width: 728px){
    //  max-width: 350px;
    //  width: 100%;
    //}
    &__title{
      width: 100%;
      font-size: 27px;
      font-weight: 400;
      @media (max-width: 400px){
        font-size: 25px;
      }
    }
    &__text{
      padding-right: 20px;
      opacity: 0.8;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      @media (max-width: 400px){
        font-size: 15px;
        line-height: 25px;
      }
    }
    &__link{
      @media (max-width: 400px){
       margin-top: 10px;
      }
    }
  }
}


//.third-blocks{
//  margin-top: 54px;
//  margin-bottom: 80px;
//  &__row{
//    margin: -10px 0;
//    &__item{
//      display: flex;
//      margin: 10px 0;
//      padding: 0;
//      &__img{
//        width: 350px;
//        img{
//          width: 350px;
//          //width: 100%;
//          height: 321px;
//        }
//      }
//      &__info{
//        padding: 25px;
//        color: $white-color;
//        font-family: "Segoe UI";
//        max-width: 330px;
//        width: 100%;
//        display: flex;
//        flex-direction: column;
//        justify-content: space-between;
//        background-color: $background-third-header;
//
//        &__title{
//          width: 100%;
//          font-size: 27px;
//          font-weight: 400;
//        }
//        &__text{
//          padding-right: 20px;
//          opacity: 0.8;
//          font-size: 18px;
//          font-weight: 400;
//          line-height: 30px;
//        }
//      }
//    }
//  }
//}